/*****************
 Temporary styles
*****************/

#header {
  height: 100px;
}

.masonry_item {
  background: #ededed;
  margin-bottom: 5px;
  border: 1px solid #e4e4e4;
  width: 265px;
  font-family: 'Open Sans', sans-serif;
}

.masonry_item img {
  margin: 9px auto 0 auto;
  display: block;
}

/**************
 Home Featured
**************/





